@{
	ViewBag.Title = "Home Page";
}

<br />
<table border="1" class="table">
	<tr>
		<th class="col-md-1" style="text-align:center">Weather Icon</th>
		<th class="col-md-10">Forecast</th>

	</tr>

	@{ for (int i = 0; i < ViewBag.weatherPicture.Count; i++)
		{
			<tr>
				<td style="vertical-align:middle; text-align:center"><img src="@ViewBag.weatherPicture[i]" /></td>
				<td>@ViewBag.weatherText[i]</td>
			</tr>
		}
	}
</table>